<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="LocalDebugPackages" value="C:\Temp\beerlike-pdx\src\bin\Debug" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="CETIN-Plan-and-Build" value="https://pkgs.dev.azure.com/CETIN-Plan-and-Build/_packaging/Plan-and-Build/nuget/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>